@https://cursor.directory/modern-web-development
@https://cursor.directory/typescript
@https://cursor.directory/react
@https://cursor.directory/nextjs
@https://cursor.directory/tailwindcss
@https://cursor.directory/shadcn
